* {
    box-sizing: border-box;
}

.idee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3vw;
    height: 15em;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.65);
    padding: 10px;
}